dist
*classes
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/sbt_project_definition.iml
.idea
.svn
.classpath
*~
*#
.#*
rat.out
TAGS

# SendGrid 
.berkshelf/
.kitchen/
.vagrant/
build/
dist
deb_dist
*.iml
*.swp
*.log
TAGS
*.DS_Store
